---
import { cn } from '@lib/utils'
type Props = {
  type: string
}

const { type: tagType } = Astro.props

const tagColorMap: Record<string, string> = {
  typescript: 'bg-blue-600 text-white',
  CSS: 'bg-[#38bdf8] text-white',
  vue: 'bg-green-600 text-white',
}
---

<div class={cn('text-sm font-normal px-2 rounded-md', tagColorMap[tagType])}>
  <slot />
</div>
